
footer{
    width:100%;
    padding:0px 0px;
    /*background-image: url(../img/footer.png);*/
    background-size:cover;
}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1600px;
    margin-top: 0px;
    }       

.box__footer{
display: flex;
flex-direction: column;
padding: 0px;
}

.box__footer .logo img{
    width: 250px;
}

.box__footer .terms{
    max-width: 400px;
    margin-top: 10px;
    font-weight: 500;
    color:#111111;
    font-size: 18px;
    }
.box__foter h2{
    margin-bottom: 30px;
    color:#642A73;
    font-weight: 700;
}

.box__footer a{
 margin-top:10px;
 color:#0e0d0d;
 font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}
.box__copyrigth{
    max-width: 1200px;
    margin:auto;
    text-align:center;
    padding: 0px 40 px;
}

.box__copyrigth p{
    margin-top: 20px;
    color:#7a7a7a;
}

.box__copyrigth hr{
    border:none;
    height: 1px;
    background-color: #7a7a7a;
}


